{% load static %}

<footer id="footer" class="footer dark-background">
    <div class="container">
      <h3 class="sitename">Reach Out To Us</h3>
      <p>Need a mobile tire or oil change? We're just a call away!</p>  

      <div class="social-links d-flex justify-content-center gap-5 flex-wrap text-center">
        <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="200">
          <i class="bi bi-geo-alt flex-shrink-0"></i>
          <div>
            <p class="ms-2 mb-0">Thunder Bay, Ontario, Canada</p>
          </div>
        </div><!-- End Info Item -->

        <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="300">
          <i class="bi bi-telephone flex-shrink-0"></i>
          <div>
            <p class="ms-2">8073571004</p>
          </div>
        </div><!-- End Info Item -->
        <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="300">
          <i class="bi bi-telephone flex-shrink-0"></i>
          <div>
            <p class="ms-2">8074078553</p>
          </div>
        </div><!-- End Info Item -->

        <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="400">
          <i class="bi bi-envelope flex-shrink-0"></i>
          <div>
            <p class="ms-2">care.mapleauto@gmail.com</p>
          </div>
        </div><!-- End Info Item -->
      </div>

      <div class="social-links d-flex justify-content-center">
        <a href=""><i class="bi bi-twitter-x"></i></a>
        <a href="https://www.facebook.com/share/1AnUouy4zj/?mibextid=wwXIfr" target="_blank"><i class="bi bi-facebook"></i></a>
        <a href="https://www.instagram.com/care.mapleauto?igsh=ZGZ3NXZOZmZwd3Rs" target="_blank"><i class="bi bi-instagram"></i></a>
        <!-- <a href=""><i class="bi bi-skype"></i></a>
        <a href=""><i class="bi bi-linkedin"></i></a> -->
      </div>
    </div>
  </footer>
  <!-- Scroll Top -->
  <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i
    class="bi bi-arrow-up-short"></i></a>

  <!-- Preloader -->
  <!-- <div id="preloader"></div> -->
