{% load static %}
<header id="header" class="header d-flex align-items-center fixed-top">
  <div class="container position-relative d-flex align-items-center justify-content-between">

    <a href="#" class="logo d-flex align-items-center me-auto me-xl-0">
      <img src="{% static 'img/logo.png' %}" alt="">
    </a>

    <nav id="navmenu" class="navmenu">
      <ul>
        <li>
          <a href="{% url 'home' %}" class="{% if request.path == '/' %}active{% endif %}">Home</a>
        </li>
        <li>
          <a href="{% url 'services' %}" class="{% if request.path == '/services/' %}active{% endif %}">Services</a>
        </li>
        <li>
          <a href="{% url 'locations' %}" class="{% if request.path == '/locations/' %}active{% endif %}">Locations</a>
        </li>
        <li>
          <a href="{% url 'whowe' %}" class="{% if request.path == '/whowe/' %}active{% endif %}">Who We Are</a>
        </li>
      </ul>
    </nav>

    <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
  </div>
</header>
