{% load static %}
  <header id="header" class="header d-flex align-items-center fixed-top">
    <div class="container position-relative d-flex align-items-center justify-content-between">

      <a href="#" class="logo d-flex align-items-center me-auto me-xl-0">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <img src="static/img/logo.png" alt="">
        <!-- <h1 class="sitename">KnightOne</h1> -->
      </a>

      <nav id="navmenu" class="navmenu">
        <nav id="navmenu" class="navmenu">
          <ul>
            <li>
              <a href="{% url 'home' %}" class="{% if request.path == '/' %}active{% endif %}">Home</a>
            </li>
            <li>
              <a href="{% url 'services' %}" class="{% if request.path == '/services/' %}active{% endif %}">Services</a>
            </li>
            <!-- <li>
              <a href="{% url 'new-booking' %}" class="{% if request.path == '/booking/' %}active{% endif %}">Booking</a>
            </li> -->
          </ul>
        </nav>
        
        <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
      </nav>

<div class="hidden"></div>

    </div>
  </header>