{% extends 'main.html' %}

{% load static %}

{% block content %}
    <!-- Hero Section -->
    <section id="hero" class="hero section dark-background">
      <div class="container">
        <div class="row gy-4 align-items-center">
          <div class="col-lg-6 content position-relative" data-aos="fade-up" data-aos-delay="100" style="min-height: 400px;">
            <img src="static/img/logo.png" alt="Logo" class="position-absolute" style="width: auto; height: 100%; max-width: 100%; max-height: none; top: 50%; left: 50%; transform: translate(-50%, -50%);">
          </div>
          
          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="200">
            <div class="d-flex justify-content-center h-100 text-center text-lg-start ps-lg-5">

              <div>
                <h2 data-aos="fade-up" data-aos-delay="100">Mobile Auto Care <br>at Your Doorstep</h2>
                <p data-aos="fade-up" data-aos-delay="200">No more waiting rooms - we bring professional auto care to your driveway.</p>
                <br>
                <div class="mt-3">
                  <h5 data-aos="fade-up" data-aos-delay="100" class="mb-3">Estimate your service price and book an appointment</h5>
                  <div class="d-flex flex-column flex-md-row w-100 gap-3">
                  <a class="btn btn-danger primary-red-btn flex-fill text-center" href="{% url 'estimate_price' %}">Estimate Price</a> 
                  <a class="btn btn-danger primary-red-btn flex-fill text-center" href="{% url 'services' %}">Services</a> 
                  <a class="btn btn-danger primary-red-btn flex-fill text-center" href="https://www.aribooking.utilitymobileapps.com/index.html?FBProject=ARI&shopID=VvgGOWQIFtQm0yHR06giR3FKcbN2&version=v.14.2.6" target="_blank">Schedule Appointment</a>
                  </div>
                </div>
              </div>
              <!-- Centered vertically and horizontally on mobile, left-aligned on desktop -->
              
            </div>
          </div>
        </div>
      </div>
    </section><!-- /Hero Section -->

    <!-- About Section -->
    <section id="about" class="about section dark-background">

      <!-- Section Title -->
      <div class="container section-title subheading" data-aos="fade-up">
        <h2>About Us</h2>
        <p>At Maple Auto Care, we believe you time is valuable. That's why we offer expert mobile tire and oil change services that come directly to you. <br>
        Whether you're at home or work, we deliver convenience, speed - trustworthy service - all without the wait.</p>
      </div><!-- End Section Title -->

    </section>
    <!-- /About Section -->
    
    <!-- Stats Section -->
    <section id="stats" class="stats section dark-background">
    
        <!-- <img src="assets/img/stats-bg.jpg" alt="" data-aos="fade-in"> -->
    
        <div class="container position-relative" data-aos="fade-up" data-aos-delay="100">
    
          <div class="subheading">
            <h3>Where We're Rolling To Help</h3>
            <p>Serving with reliable, mobile auto care - wherever you are!</p>
          </div>
    
          <div class="row gy-4 justify-content-center">
    
            <div class="col-lg-3 col-md-6">
              <div class="stats-item text-center w-100 h-100">
                <span id="locations"><i class="bi bi-geo-alt flex-shrink-0"></i> Thunder Bay</span>
              </div>
            </div><!-- End Stats Item -->
    
          </div>
    
        </div>
    
      </section><!-- /Stats Section -->
{% endblock %}
